* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #ced4da;
}

.logo {
    border-radius: 0.375rem;
}

.jumbotron {
    padding-top: 4rem;
}

h1 {
    color: rgb(38, 30, 56);
}

#artikel {
    text-decoration: none;

}

